.card {
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  text-decoration: none;
  height: 100%;
  cursor: pointer;
}

.card__category {
  font-size: 12px;
  padding: 0.5rem;
  width: max-content;
}

.card__category.even {
  border: 2px solid #c30e2d;
  color: #c30e2d;
  background-color: #ffffff;

  &:hover {
    background-color: #c30e2d;
    color: white;
  }
}

.card__category.odd {
  border: 2px solid dodgerblue;
  color: dodgerblue;
  background-color: #f0f8ff;

  &:hover {
    background-color: dodgerblue;
    color: white;
  }
}

.card__content {
  padding-top: 0.5rem;
}

.card__image-container-featured {
  height: 180px;
  max-height: 180px;
  overflow: hidden;

  @media (min-width: 600px) {
    height: 300px;
    max-height: 300px;
  }

  @media (min-width: 900px) {
    height: 450px;
    max-height: 450px;
  }
}

.card__image-container {
  height: 250px;
  max-height: 250px;
  overflow: hidden;

  @media (min-width: 600px) {
    height: 300px;
    max-height: 300px;
  }

  @media (min-width: 900px) {
    height: 250px;
    max-height: 250px;
  }
}

.card__image {
  height: 100%;
  width: 100%;
  overflow: hidden;
  object-fit: cover;
  object-position: top center;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
}

.card__title {
  margin: 0;
  margin-bottom: 10px;
  text-decoration: none;
}

.card__description {
  margin: 0;
  color: #666;
}

.card__content h1,
.card__content h2,
.card__content h3,
.card__content h4,
.card__content h5,
.card__content h6 {
  margin: 10px 0;
  color: #333;
}

.card__description {
  margin: 10px 0;
  color: #666;
}

.card__content a {
  color: #0066cc;
  text-decoration: none;
}

.card__content a:hover {
  text-decoration: underline;
}
